.form-horizontal{
	margin-bottom:50px; 
}
textarea{
	width: 350px;
	height: 80px;
	margin-left:10px;
}
.address-item {
        border:solid 1px #ddd;
    }
.dizhi{
	width: 740px;
	height: 300px;
	margin-left:-90px; 
}
.row div{
	height: 40px;
	text-align: center;
	line-height: 35px;

}

.control-label{
	width: 90px;
	margin-left: -50px;
	line-height: 30px;
}
