textarea{
	width: 300px;
	height: 160px;
	margin-left:100px;
}
.address-item {
        border:solid 1px #ddd;
    }
.dizhi{
	width: 740px;
	height: 300px;
	border: 1px solid #999;
	margin-left:-90px; 
}
.row div{
	height: 30px;

}
