*{
	margin:0px;
	padding: 0px;
}
a{
	text-decoration: none;
	color: #666;
}
a:hover{
	color:#ed145b;
	text-decoration: none;
}
ul{
	list-style: none;
}
.alls{
	margin:0 auto;
	height: auto;
	width: 100%;
}
section{
	background: #f7f7f7;
}
.section_1{
	margin-top:10px;
	font-weight: bold; 
}
.section_2{
	background: #ffffff;
	margin-top: 15px;
}
.section_3{
	height: 50px;
	font-size: 16px;
	font-weight: bold;
	padding: 20px;
	border-bottom: 1px solid #edecec;
}
.section_4{
	padding-left: 5px;
	padding-top: 10px;
	border-bottom: 1px solid #edecec;
}
.section_5{
	font-weight: bold;
}
.section_6 a{
	height: 40px;
}